.about {
  margin-top: 4rem;
  /* padding-top: 4rem !important; */
}

.about-content{
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-size: large;
}

/* heading part */
.header{
  height: 700px;
  padding-top: 9rem;
  padding-bottom: 2rem;
  
}
.header-para{
  font-size: 1.8rem;
  
}
.header-title{
  
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  box-sizing: border-box;
  /* text-align: left; */
  top:2em;
}

.header-btn{
  padding: 8px 8px;
  border-radius: 2px;
  border: none;
  color: #fff;
  background-color: #5eba7d;
}
.header p {
  box-sizing: border-box;
}

/*  Projects */

.project{
  display: flex;
  margin-top: 4rem;
  }
  
  /* work */

 .work {
   margin-top: 3rem;
   align-self: center !important;
 }


 /* hr */
 hr {
  background-color: rgb(97, 219, 251);
  border-width: 0.1rem;
  border-style: solid;
  border-color: rgb(97, 219, 251);
  border-image: initial;
  margin: 2rem auto;
}