.about {
  margin-top: 4rem;
  /* padding-top: 4rem !important; */
}

.about-content{
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-size: large;
}
.about-img {
  padding-top: 7rem;
  padding-bottom: 6rem;
}
/* heading part */
.header{
  height: 700px;
  padding-top: 9rem;
  padding-bottom: 2rem;
  
}
.header-para{
  font-size: 1.8rem;
  
}
.header-title{
  
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  box-sizing: border-box;
  /* text-align: left; */
  top:2em;
}

.header-btn{
  padding: 8px 8px;
  border-radius: 2px;
  border: none;
  color: #fff;
  background-color: #5eba7d;
}
.header p {
  box-sizing: border-box;
}
.header-banner {
  font-size: 2.5rem;
}

/*  Projects */

.project{
  display: flex;
  margin-top: 4rem;
  }
  
  /* work */

 .work {
   margin-top: 3rem;
   align-self: center !important;
 }


 /* hr */
 hr {
  background-color: rgb(97, 219, 251);
  border-width: 0.1rem;
  border-style: solid;
  border-color: rgb(97, 219, 251);
  border-image: initial;
  margin: 2rem auto;
}

/* ribbon */
.ribbon{
  height: 4px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color:#00e699;
  
}
.ribbon-little{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: -54px;
  margin-left: auto;
  margin-right: auto;
  background-color:#00e699;
}

/* social icon */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  margin: 0 .5em;
  font-size: clamp(1em,3.2vw,2.5em);
}
.social-icons-footer{
  list-style: none;
}
.social-icons-footer li{
  display: inline-block;
  font-size: 1.2em;
  margin: 0 .5em;

}
